version: '3.8'

services:
  app:
    image: ${IMAGE}
    pull_policy: never
    build:
      context: ..
      dockerfile: docker/image-app/Dockerfile
      target: test
      args:
        COMPOSER_AUTH: ${COMPOSER_AUTH}
      cache_from:
        - type=local,src=/var/cache/build-image/cache-buildx/${CI_PROJECT_NAME} \
      cache_to:
        - type=local,dest=/var/cache/build-image/cache-buildx/${CI_PROJECT_NAME},mode=max \
    env_file:
      - ../config.test.env
    environment:
      COMPOSER_MEMORY_LIMIT: -1
