name: Test
on: [push]

jobs:
  tests:
    name: PHP Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: ctype, iconv, mbstring, intl
          tools: composer:v2

      - name: Create .env file for tests
        run: |
          if [ ! -f .env ]; then
            cp .env.dist .env
          fi

      - name: Install PHP dependencies
        run: composer install

      - name: Run tests
        run: vendor/bin/phpunit --stderr --colors=never
  
